{% extends "base_template.html" %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('base.static', filename='js/DataTablesBS4.js' )}}"></script>

 <script>
 $(document).ready(function() {
     $('#result').DataTable();
 } );
</script>
{% endblock javascript %}

{% block main %}
<div class="card">
    <div class="card-header">
        {{ command }}
    </div>
    <div class="card-body">
        {{ result|safe }}
    </div>
</div>
{% endblock main %}
