{% extends "base_card_template.html" %}
{% block javascript %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

<script>
 $(document).ready(function() {
     var clipboardjs = new ClipboardJS('.copy_to_clipboard')
     clipboardjs.on('success', function(e) {
         e.clearSelection();
     });

     tippy('.copy_to_clipboard', {
         content: 'Copyed!',
         trigger: 'click',
     });

 } );
</script>
{% endblock javascript %}

{% block card_header %}
    <div class="d-flex align-items-center justify-content-between">
        {{ command }}

        <button class="btn btn-sm btn-primary copy_to_clipboard" data-clipboard-target=".card-body">Copy to Clipboard</button>
    </div>
{% endblock card_header %}

{% block card_body %}
    {{ result|safe }}
{% endblock card_body %}