{% extends "base_datatables_template_for_source_data.html" %}

{% block card_header %}Nodes{% endblock card_header %}

{% block datatables_cloumns %}
columns: [
{data: "id"},
{data: "hostname", defaultContent: ""},
{data: "description", defaultContent: ""},
{data: "ip_address", defaultContent: ""},
{data: "device_type", defaultContent: ""},
{data: "model", defaultContent: ""},
{data: "os_version", defaultContent: ""},
{title: "Action", render: function( data, type, row, meta) {
return '<div class="btn-toolbar" style="flex-wrap: nowrap;">'
    + '<div class="btn-group mr-2">'
    + '<button class="btn btn-sm btn-primary" type="button" onclick="location.href=\'node/' + row.id + '\'">Show</button>'
    + '</div>'
    + '<div class="btn-group mr-2">'
    + '<button class="btn btn-sm btn-primary" type="button" onclick="location.href=\'node/' + row.id + '/edit' + '\'">Edit</button>'
    + '</div>'
    + '<div class="btn-group mr-2">'
    + '<form action="/node/' + row.id + '/delete"' + ' method="post">'
    + '<button class="btn btn-sm btn-danger" type="submit" onclick="return confirm(\'Are you sure?\');">Delete</button>'
    + '</form>'
    + '</div>'
    ; }
}
],
{% endblock datatables_cloumns %}

{% block thead %}
            <tr>
                <th>ID</th>
                <th>Hostname</th>
                <th>Description</th>
                <th>IP Address</th>
                <th>Device Type</th>
                <th>Model</th>
                <th>OS Version</th>
                <th>Action</th>
            </tr>
{% endblock thead %}

{% block card_footer %}
            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{ url_for('node.new') }}'">New Node</button>
{% endblock card_footer %}

