{% extends "node/index.html" %}

{% block javascript %}
{{ super() }}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('base.static', filename='js/DataTablesBS4.js' )}}"></script>

<script>
 $(document).ready(function() {
     $('#result').DataTable( {
         stateSave: true
     } );
 } );
</script>
{% endblock javascript %}


{% block main %}
<div class="card">
    <div class="card-header">
        {{ command }}
    </div>
    <div class="card-body">
    <table id="result" class="table table-responsive table-hover table-outline table-striped table-bordered mt-2 mb-2">
        <thead class="thead-inverse">
            <tr>
                <th>IP Address</th>
                <th>Age</th>
                <th>Interface</th>
                <th>MAC Address</th>
                <th>Protocol</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <td>{{ row['address'] }}</td>
                <td>{{ row['age'] }}</td>
                <td>{{ row['interface'] }}</td>
                <td>{{ row['mac'] }}</td>
                <td>{{ row['protocol'] }}</td>
                <td>{{ row['type'] }}</td>
                <td>
                    {% if row['age'] == '-' %}
                    <button class="btn btn-sm btn-primary" type="button" onclick="location.href='/node/import_node/{{row['address']}}'" disabled>Import Node</button>
                    {% else %}
                    <button class="btn btn-sm btn-primary" type="button" onclick="location.href='/node/import_node/{{row['address']}}'">Import Node</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock main %}
