{% extends "node/index.html" %}

{% block javascript %}
{{ super() }}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('base.static', filename='js/DataTablesBS4.js' )}}"></script>

<script>
 $(document).ready(function() {
     $('#result').DataTable( {
         stateSave: true
     } );
 } );
</script>
{% endblock javascript %}

{% block main %}
<div class="card">
    <div class="card-header">
        {{ command }}
    </div>
    <div class="card-body">
    <table id="result" class="table table-responsive-sm table-hover table-outline table-striped table-bordered mt-2 mb-2">
        <thead class="thead-inverse">
            <tr>
                <th>Network</th>
                <th>Mask</th>
                <th>Nexthop IF</th>
                <th>Nexthop IP</th>
                <th>Protocol</th>
                <th>Distance</th>
                <th>Metric</th>
                <th>Type</th>
                <th>Uptime</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
            <tr>
                <td>{{ row['network'] }}</td>
                <td>{{ row['mask'] }}</td>
                <td>{{ row['nexthop_if'] }}</td>
                <td>{{ row['nexthop_ip'] }}</td>
                <td>{{ row['protocol'] }}</td>
                <td>{{ row['distance'] }}</td>
                <td>{{ row['metric'] }}</td>
                <td>{{ row['type'] }}</td>
                <td>{{ row['uptime'] }}</td>
                <td>
                    {% if row['nexthop_ip'] == '' %}
                    <button class="btn btn-sm btn-primary" type="button" onclick="location.href='/node/import_node/{{row['nexthop_ip']}}'" disabled>Import Node</button>
                    {% else %}
                    <button class="btn btn-sm btn-primary" type="button" onclick="location.href='/node/import_node/{{row['nexthop_ip']}}'">Import Node</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock main %}

