{% extends "base_datatables_template.html" %}

{% block card_header %}{{ command }}{% endblock card_header %}
{% block thead %}
<tr>
    <th>Network</th>
    <th>Mask</th>
    <th>Nexthop IF</th>
    <th>Nexthop IP</th>
    <th>Protocol</th>
    <th>Distance</th>
    <th>Metric</th>
    <th>Type</th>
    <th>Uptime</th>
    <th>Action</th>
</tr>
{% endblock thead %}
{% block tbody %}
{% for row in result %}
<tr>
    <td>{{ row['network'] }}</td>
    <td>{{ row['mask'] }}</td>
    <td>{{ row['nexthop_if'] }}</td>
    <td>{{ row['nexthop_ip'] }}</td>
    <td>{{ row['protocol'] }}</td>
    <td>{{ row['distance'] }}</td>
    <td>{{ row['metric'] }}</td>
    <td>{{ row['type'] }}</td>
    <td>{{ row['uptime'] }}</td>
    <td>
        <form action="{{ url_for('node.import_node_from_ip', ip_address=row['nexthop_ip']) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-sm btn-primary" type="submit" {% if row['nexthop_ip'] == '' %}disabled{% endif %}>Import Node</button>
        </form>
    </td>
</tr>
{% endfor %}
{% endblock tbody %}
