{% extends "node/index.html" %}
{% block javascript %}
{{ super() }}

<script>
 $(function() {
     var node_id = "{{ node.id }}";
     $('#command').change(function() {
         var selected_command = $(this).val();
         var onclick_value = "location.href=" + "'" + node_id + '/command/' + selected_command.replace(/ /g, '_') + "'";
         $('#execute').attr("onclick", onclick_value);
     });
 });
</script>
{% endblock javascript %}


{% block main %}
<div class="card">
    <div class="card-header">
        Show Node
    </div>
    <div class="card-body">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ node.id }}</td>
            </tr>
            <tr>
                <th>Hostname</th>
                <td>{{ node.hostname }}</td>
            </tr>
            <tr>
                <th>IP Address</th>
                <td>{{ node.ip_address }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ node.username }}</td>
            </tr>
            <tr>
                <th>Device Type</th>
                <td>{{ node.device_type }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ node.model }}</td>
            </tr>
            <tr>
                <th>OS Type</th>
                <td>{{ node.os_type }}</td>
            </tr>
            <tr>
                <th>OS Version</th>
                <td>{{ node.os_version }}</td>
            </tr>
            <tr>
                <th>Serial</th>
                <td>
                    {% for serial in node.serials %}
                    {{ serial.serial }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Action</th>
                <td>
                    <div class="row ml-1">
                        <input class="form-control col-md-6" type="search" id="command" autocomplete="on" list="command_datalist">
                        <datalist id="command_datalist">
                            {% for command in command_list %}
                            <option value="{{ command }}">
                                {% endfor %}
                        </datalist>
                        <div class="btn-group col-md-4">
                            <button id="execute" class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show_run'">Execute</button>
                        </div>
                    </div>
                    <div class="row ml-1">
                        <div class="btn-group mr-2 mt-2">
                            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show_run'">Show Run</button>
                        </div>
                        <div class="btn-group mr-2 mt-2">
                            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show_inventory'">Show Inventory</button>
                        </div>
                        <div class="btn-group mr-2 mt-2">
                            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show_version'">Show Version</button>
                        </div>
                        <div class="btn-group mr-2 mt-2">
                            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show_ip_arp'">Show IP Arp</button>
                        </div>
                        <div class="btn-group mr-2 mt-2">
                            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show_ip_int_brief'">Show IP Int Brief</button>
                        </div>
                        <div class="btn-group mr-2 mt-2">
                            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show_interfaces_description'">Show Int Desc</button>
                        </div>
                        <div class="btn-group mr-2 mt-2">
                            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show_ip_route'">Show IP Route</button>
                        </div>
                        <div class="btn-group mr-2 mt-2">
                            <button class="btn btn-sm btn-primary" type="button" onclick="location.href='import_node_from_id/{{node.id}}'">Import Node</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock main %}
