{% extends "base_table_template.html" %}
{% block javascript %}
{{ super() }}

<script>
 $(function() {
     var node_id = "{{ node.id }}";
     $('#command_input').change(function() {
         var selected_command = $(this).val();
         var command_onclick_value = "location.href=" + "'" + node_id + '/command/' + selected_command.replace(/ /g, '+') + "'";
         var raw_command_onclick_value = "location.href=" + "'" + node_id + '/raw_command/' + selected_command.replace(/ /g, '+') + "'";
         $('#command').attr("onclick", command_onclick_value);
         $('#raw_command').attr("onclick", raw_command_onclick_value);
     });
 });
</script>
{% endblock javascript %}


{% block card_header %}Show Node{% endblock card_header %}

{% block tbody %}
    <tr>
        <th>ID</th>
        <td>{{ node.id }}</td>
    </tr>
    <tr>
        <th>Hostname</th>
        <td>{{ node.hostname }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ node.description }}</td>
    </tr>
    <tr>
        <th>IP Address</th>
        <td>{{ node.ip_address }}</td>
    </tr>
    <tr>
        <th>Port</th>
        <td>{{ node.port }}</td>
    </tr>
    <tr>
        <th>Username</th>
        <td>{{ node.username }}</td>
    </tr>
    <tr>
        <th>Device Type</th>
        <td>{{ node.device_type }}</td>
    </tr>
    <tr>
        <th>Napalm Driver</th>
        <td>{{ node.napalm_driver }}</td>
    </tr>
    <tr>
        <th>Scrapli Driver</th>
        <td>{{ node.scrapli_driver }}</td>
    </tr>
    <tr>
        <th>NTC Template Platform</th>
        <td>{{ node.ntc_template_platform }}</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>{{ node.model }}</td>
    </tr>
    <tr>
        <th>OS Type</th>
        <td>{{ node.os_type }}</td>
    </tr>
    <tr>
        <th>OS Version</th>
        <td>{{ node.os_version }}</td>
    </tr>
    <tr>
        <th>Serial</th>
        <td>
            {% for serial in node.serials %}
            {{ serial.serial_number }}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Action</th>
        <td>
            <div class="row ml-1">
                <input class="form-control col-md-6" type="search" id="command_input" autocomplete="off" list="command_datalist">
                <datalist id="command_datalist">
                    {% for command in command_list %}
                    <option value="{{ command }}">
                        {% endfor %}
                </datalist>
                <div class="btn-group ml-2">
                    <button id="command" class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/command/show+run'">Command</button>
                </div>
                <div class="btn-group ml-2">
                    <button id="raw_command" class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/raw_command/show+run'">Command(Raw)</button>
                </div>
            </div>
            <div class="row ml-1">
                <div class="btn-group mr-2 mt-2">
                    <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show+run'">Show Run</button>
                </div>
                <div class="btn-group mr-2 mt-2">
                    <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show+inventory'">Show Inventory</button>
                </div>
                <div class="btn-group mr-2 mt-2">
                    <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show+version'">Show Version</button>
                </div>
                <div class="btn-group mr-2 mt-2">
                    <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show+ip+arp'">Show IP Arp</button>
                </div>
                <div class="btn-group mr-2 mt-2">
                    <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show+ip+int+brief'">Show IP Int Brief</button>
                </div>
                <div class="btn-group mr-2 mt-2">
                    <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show+interfaces+description'">Show Int Desc</button>
                </div>
                <div class="btn-group mr-2 mt-2">
                    <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{node.id}}/show+ip+route'">Show IP Route</button>
                </div>
            </div>
            <div class="row ml-1">
                <div class="btn-group mr-2 mt-2">
                    <button class="btn btn-sm btn-success" type="button" onclick="location.href='import_node_from_id/{{node.id}}'">Import All Data</button>
                </div>
                <div class="btn-group mr-2 mt-2" role="group">
                    <button id="importDropdown" type="button" class="btn btn-sm btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Import Individual
                    </button>
                    <div class="dropdown-menu" aria-labelledby="importDropdown">
                        <a class="dropdown-item" href="import_node/{{node.id}}">Node Info Only</a>
                        <a class="dropdown-item" href="import_interface/{{node.id}}">Interface Only</a>
                        <a class="dropdown-item" href="import_serial/{{node.id}}">Serial Only</a>
                        <a class="dropdown-item" href="import_arp/{{node.id}}">ARP Only</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
{% endblock tbody %}

{% block card_footer %}
<button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{ url_for('node.edit', id=node.id) }}'">Edit Node</button>
<div class="btn-group mr-2">
    <form action="/node/{{node.id}}/delete" method="post">
        <button class="btn btn-sm btn-danger" type="submit" onclick="return confirm('Are you sure?');">Delete</button>
    </form>
</div>
{% endblock card_footer %}
