{% extends "base_datatables_template.html" %}

{% block card_header %}{{ command }}{% endblock card_header %}
{% block thead %}
<tr>
    <th>IP Address</th>
    <th>Age</th>
    <th>Interface</th>
    <th>MAC Address</th>
    <th>Protocol</th>
    <th>Type</th>
    <th>Action</th>
</tr>
{% endblock thead %}
{% block tbody %}
{% for row in result %}
<tr>
    <td>{{ row['ip_address'] }}</td>
    <td>{{ row['age'] }}</td>
    <td>{{ row['interface'] }}</td>
    <td>{{ row['mac_address'] }}</td>
    <td>{{ row['protocol'] }}</td>
    <td>{{ row['type'] }}</td>
    <td>
        <form action="{{ url_for('node.import_node_from_ip', ip_address=row['address']) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-sm btn-primary" type="submit" {% if row['age'] == '-' %}disabled{% endif %}>Import Node</button>
        </form>
    </td>
</tr>
{% endfor %}
{% endblock tbody %}

