{% extends "node/index.html" %}

{% block javascript %}
{{ super() }}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('base.static', filename='js/DataTablesBS4.js' )}}"></script>

<script>
 $(document).ready(function(){
     var src_node_id = $("#src_node").val()

     var src_interfaces_url = '/api/interfaces/filter?field=node_id&filter_str=' + src_node_id
     $.ajax({
         url: src_interfaces_url,
         type: 'GET',
         success: function(selectOptions){
             $("#src_ip_address").empty();
             for (var i = 0; i < selectOptions.length; i++){
                 if (selectOptions[i].ip_address != 'unassigned'){
                     $("#src_ip_address").append(
                         $("<option></option>")
                             .attr("value", selectOptions[i].ip_address)
                             .text(selectOptions[i].ip_address)
                     );
                 }
             }
         }
     });
 });

 $("#src_node").change(function(){
     var src_interfaces_url = '/api/interfaces/filter?field=node_id&filter_str=' + $('#src_node option:selected').val()
     $.ajax({
         url: src_interfaces_url,
         type: 'GET',
         success: function(selectOptions){
             $("#src_ip_address").empty();
             for (var i = 0; i < selectOptions.length; i++){
                 if (selectOptions[i].ip_address != 'unassigned'){
                     $("#src_ip_address").append(
                         $("<option></option>")
                             .attr("value", selectOptions[i].id)
                             .text(selectOptions[i].ip_address)
                     );
                 }
             }
         }
     });
 });
</script>
{% endblock javascript %}


{% block main %}
<div class="card">
    <div class="card-header">
        Ping
    </div>
    <div class="card-body">
        <form action="{{ url_for('troubleshoot.ping_execute') }}" method=post class="form-horizontal " id="ping">
            {{ form.csrf_token }}
            <div class="form-group row">
                {{ form.dst_ip_address.label(class_="col-md-3 col-form-label") }}{{ form.dst_ip_address(class_="form-control col-md-6") }}
            </div>
            <div class="form-group row">
                {{ form.src_node.label(class_="col-md-3 col-form-label") }}{{ form.src_node(class_="form-control col-md-6") }}
            </div>
            <div class="form-group row">
                {{ form.src_ip_address.label(class_="col-md-3 col-form-label") }}{{ form.src_ip_address(class_="form-control col-md-6") }}
            </div>
            <div class="form-group row">
                {{ form.count.label(class_="col-md-3 col-form-label") }}{{ form.count(class_="form-control col-md-6", value=5) }}
            </div>
            <div class="form-group row">
                {{ form.data_size.label(class_="col-md-3 col-form-label") }}{{ form.data_size(class_="form-control col-md-6", value=100) }}
            </div>
            <div class="form-group row">
                {{ form.timeout.label(class_="col-md-3 col-form-label") }}{{ form.timeout(class_="form-control col-md-6", value=2) }}
            </div>
        </form>
    </div>
    <div class="card-footer">
        {{ form.submit(class_="btn btn-sm btn-primary", form="ping") }}
        {{ form.reset(type="reset", class_="btn btn-sm btn-danger", form="ping") }}
    </div>
</div>
{% endblock main %}
