flask==1.1.4
sqlalchemy<1.4
flask-sqlalchemy
flask-babel
flask-security-too
flask-wtf
flask-nav
flask-bootstrap
marshmallow-sqlalchemy
flask-restx
flask-marshmallow==0.11.0
Flask-Continuum
sqlalchemy-utils
netaddr
netmiko
scrapli[full]
napalm
pandas
dynaconf
toml
dictdiffer

