flask==2.2.5
Werkzeug==0.16.1
SQLAlchemy==1.2.16
Flask-SQLAlchemy==2.4.4
Flask-Babel==0.12.2
Flask-Security-Too==4.1.6
wtforms==2.3.3
Flask-WTF==0.14.3
flask-nav==0.6
Flask-Bootstrap==3.3.7.1
markupsafe==2.0.1
marshmallow-sqlalchemy==0.24.2
flask-restx==0.5.1
flask-marshmallow==0.11.0
Flask-Continuum==0.1.7
SQLAlchemy-Utils==0.36.8
sqlalchemy-datatables
netaddr
ssh2-python
netmiko
ntc_templates
scrapli
scrapli_community
napalm
pandas==2.2.3
dynaconf==3.1.2
toml==0.10.2
dictdiffer==0.8.1
