{% extends "base_template.html" %}

{% block title %}neteye{% endblock title %}
{% block stylesheet %}
{{ super() }}
{% endblock stylesheet %}
{% block javascript %}
{{ super() }}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('base.static', filename='js/DataTablesBS4.js' )}}"></script>

<script>
 $(document).ready(function() {
     $('#index').DataTable( {
         stateSave: true
     } );
 } );
</script>
{% endblock javascript %}

{% block main %}
<div class="card">
    <div class="card-header">
        Cables
    </div>
    <div class="card-body">
        <table id="index" class="table table-responsive-sm table-hover table-outline table-striped mt-2 mb-2">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Source Node</th>
                    <th>Source Interface</th>
                    <th>Destination Node</th>
                    <th>Destination Interface</th>
                    <th>Cable Type</th>
                    <th>Link Speed</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for cable in cables %}
                <tr>
                    <td>{{ cable.id }}</td>
                    <td>{{ cable.src_node_hostname }}</td>
                    <td>{{ cable.src_interface_name }}</td>
                    <td>{{ cable.dst_node_hostname }}</td>
                    <td>{{ cable.dst_interface_name }}</td>
                    <td>{{ cable.cable_type }}</td>
                    <td>{{ cable.link_speed }}</td>
                    <td>
                        <div class="btn-toolbar">
                            <div class="btn-group mr-2">
                                <button class="btn btn-sm btn-primary" type="button" onclick="location.href='cable/{{cable.id}}/edit'">Edit</button>
                            </div>
                            <div class="btn-group mr-2">
                                <form action="{{ url_for('cable.delete', id=cable.id) }}" method="post">
                                    <button class="btn btn-sm btn-danger" type="submit" id="cable_delete" onclick="return confirm('Are you sure?');">Delete</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{ url_for('cable.new') }}'">New Cable</button>
    </div>
</div>
{% endblock main %}
