{% extends "base_card_template.html" %}

{% block javascript %}
{{ super() }}

<script>
 $(document).ready(function(){
     loadInterfaces($('#a_node').val(), 'a_interface');
     loadInterfaces($('#b_node').val(), 'b_interface');

     $('#a_node').change(function(){ loadInterfaces($(this).val(), 'a_interface'); });
     $('#b_node').change(function(){ loadInterfaces($(this).val(), 'b_interface'); });
 });
</script>
{% endblock javascript %}

{% block card_header %}
New Cable
{% endblock card_header %}

{% block card_body %}
    <form action="{{ url_for('cable.create') }}" method=post class="form-horizontal " id="cable_create">
        {{ form.csrf_token }}
        <div class="form-group row">
            {{ render_field(form.a_node) }}
        </div>
        <div class="form-group row">
            {{ render_field(form.a_interface) }}
        </div>
        <div class="form-group row">
            {{ render_field(form.b_node) }}
        </div>
        <div class="form-group row">
            {{ render_field(form.b_interface) }}
        </div>
        <div class="form-group row">
            {{ render_field(form.cable_type) }}
        </div>
        <div class="form-group row">
            {{ render_field(form.link_speed) }}
        </div>
        <div class="form-group row">
            {{ render_field(form.description) }}
        </div>
    </form>
{% endblock card_body %}

{% block card_footer %}
    {{ form.submit(class_="btn btn-sm btn-primary", form="cable_create") }}
    {{ form.reset(type="reset", class_="btn btn-sm btn-danger", form="cable_create") }}
{% endblock card_footer %}
