{% extends "base_datatables_template_for_source_data.html" %}

{% block card_header %}Arp Entries{% endblock card_header %}

{% block datatables_cloumns %}
columns: [
{data: "id"},
{data: "ip_address", defaultContent: ""},
{data: "mac_address", defaultContent: ""},
{data: "interface.node.hostname", defaultContent: ""},
{data: "interface.name", defaultContent: ""},
{data: "vendor", defaultContent: ""},
],
{% endblock datatables_cloumns %}

{% block thead %}
<tr>
    <th>ID</th>
    <th>IP Address</th>
    <th>MAC Address</th>
    <th>Node</th>
    <th>Interface</th>
    <th>Vendor</th>
</tr>
{% endblock thead %}

