{% extends "base_datatables_template.html" %}

{% block card_header %}Arp Entries{% endblock card_header %}
{% block thead %}
<tr>
    <th>ID</th>
    <th>IP Address</th>
    <th>MAC Address</th>
    <th>Node</th>
    <th>Interface</th>
    <th>Vendor</th>
</tr>
{% endblock thead %}
{% block tbody %}
{% for arp_entry in arp_entries %}
<tr>
    <td>{{ arp_entry.id }}</td>
    <td>{{ arp_entry.ip_address }}</td>
    <td>{{ arp_entry.mac_address }}</td>
    <td>{{ arp_entry.hostname }}</td>
    <td>{{ arp_entry.interface }}</td>
    <td>{{ arp_entry.vendor }}</td>
</tr>
{% endfor %}
{% endblock tbody %}
