{% extends "base_datatables_template_for_source_data.html" %}

{% block card_header %}Arp Entry History{% endblock card_header %}

{% block datatables_cloumns %}
columns: [
{data: "issued_at", defaultContent: ""},
{data: "id", defaultContent: ""},
{data: "ip_address", defaultContent: ""},
{data: "mac_address", defaultContent: ""},
{data: "interface_id", defaultContent: ""},
{data: "protocol", defaultContent: ""},
{data: "arp_type", defaultContent: ""},
{data: "vendor", defaultContent: ""},
{data: "operation_type", defaultContent: ""}
],
{% endblock datatables_cloumns %}

{% block thead %}
<tr>
    <th>Date</th>
    <th>Arp Entry ID</th>
    <th>IP Address</th>
    <th>MAC Address</th>
    <th>Interface ID</th>
    <th>Protocol</th>
    <th>Arp Type</th>
    <th>Vendor</th>
    <th>Operation Type</th>
</tr>
{% endblock thead %}
