{% extends "base_datatables_template_for_source_data.html" %}

{% block card_header %}Cable History{% endblock card_header %}

{% block datatables_cloumns %}
columns: [
{data: "issued_at", defaultContent: ""},
{data: "id", defaultContent: ""},
{data: "src_interface_id", defaultContent: ""},
{data: "dst_interface_id", defaultContent: ""},
{data: "description", defaultContent: ""},
{data: "cable_type", defaultContent: ""},
{data: "link_speed", defaultContent: ""},
{data: "operation_type", defaultContent: ""}
],
{% endblock datatables_cloumns %}

{% block datatables_order %}
[0, "desc"]
{% endblock datatables_order %}

{% block thead %}
<tr>
    <th>Date</th>
    <th>Cable ID</th>
    <th>Source Interface ID</th>
    <th>Destination Interface ID</th>
    <th>Description</th>
    <th>Cable Type</th>
    <th>Link Speed</th>
    <th>Operation Type</th>
</tr>
{% endblock thead %}
