{% extends "base_datatables_template_for_ajax.html" %}

{% block card_header %}Cable History{% endblock card_header %}

{% block ajax_source %}
"/history/cable_history_data"
{% endblock ajax_source %}

{% block datatables_order %}
[0, "desc"]
{% endblock datatables_order %}

{% block thead %}
<tr>
    <th>Date</th>
    <th>Cable ID</th>
    <th>Source Interface ID</th>
    <th>Destination Interface ID</th>
    <th>Description</th>
    <th>Cable Type</th>
    <th>Link Speed</th>
    <th>Operation Type</th>
</tr>
{% endblock thead %}
