{% extends "base_datatables_template.html" %}

{% block card_header %}Cable History{% endblock card_header %}
{% block thead %}
<tr>
    <th>Date</th>
    <th>Cable ID</th>
    <th>Source Interface ID</th>
    <th>Destination Interface ID</th>
    <th>Description</th>
    <th>Cable Type</th>
    <th>Link Speed</th>
    <th>Operation Type</th>
</tr>
{% endblock thead %}
{% block tbody %}
{% for transaction in cable_history %}
<tr>
    <td>{{ transaction.Transaction.issued_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    <td>{{ transaction.CableVersion.id }}</td>
    <td>{{ transaction.CableVersion.src_interface_id }}</td>
    <td>{{ transaction.CableVersion.dst_interface_id }}</td>
    <td>{{ transaction.CableVersion.description }}</td>
    <td>{{ transaction.CableVersion.cable_type }}</td>
    <td>{{ transaction.CableVersion.link_speed }}</td>
    <td>{{ OPERATION_TYPE[transaction.CableVersion.operation_type] }}</td>
</tr>
{% endfor %}
{% endblock tbody %}
