{% extends "base_datatables_template_for_ajax.html" %}

{% block card_header %}Command History{% endblock card_header %}

{% block datatables_cloumns %}
columnDefs: [
{
"render": function(data, type, row) {
return '<div class="btn-toolbar" style="flex-wrap: nowrap; justify-content: center;">'
    + '<button class="btn btn-sm btn-primary w-50" type="button" onclick="location.href=\'command_history/' + row[5]  + '/result\'">Result</button>'
    + '</div>'
    ;
    },
    "targets": 5
    }
    ],
{% endblock datatables_cloumns %}

{% block ajax_source %}
"/history/command_history_data"
{% endblock ajax_source %}

{% block datatables_order %}
[0, "desc"]
{% endblock datatables_order %}

{% block thead %}
<tr>
    <th>Date</th>
    <th>Node ID</th>
    <th>Hostname</th>
    <th>Command</th>
    <th>User</th>
    <th>Result</th>
</tr>
{% endblock thead %}
