{% extends "base_datatables_template_for_source_data.html" %}

{% block card_header %}Interface History{% endblock card_header %}

{% block datatables_cloumns %}
columns: [
{data: "issued_at", defaultContent: ""},
{data: "id", defaultContent: ""},
{data: "node_id", defaultContent: ""},
{data: "name", defaultContent: ""},
{data: "ip_address", defaultContent: ""},
{data: "description", defaultContent: ""},
{data: "operation_type", defaultContent: ""}
],
{% endblock datatables_cloumns %}

{% block datatables_order %}
[0, "desc"]
{% endblock datatables_order %}

{% block thead %}
<tr>
    <th>Date</th>
    <th>Interface ID</th>
    <th>Node ID</th>
    <th>Name</th>
    <th>IP Address</th>
    <th>Description</th>
    <th>Operation Type</th>
</tr>
{% endblock thead %}
