{% extends "base_template.html" %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('base.static', filename='js/DataTablesBS4.js' )}}"></script>

<script>
 $(document).ready(function(){
     $("#node_id option[value='{{node_id}}']").prop('selected', true);

 });
</script>
{% endblock javascript %}


{% block main %}
<div class="card">
    <div class="card-header">
        Edit Serial
    </div>
    <div class="card-body">
        <form action="{{ url_for('serial.update', id=id ) }}" method=post class="form-horizontal " id="serial_edit">
            {{ form.csrf_token }}
            <div class="form-group row">
                {{ form.node_id.label(class_="col-md-3 col-form-label") }}{{ form.node_id(class_="form-control col-md-6", value=node_id) }}
            </div>
            <div class="form-group row">
                {{ form.serial_number.label(class_="col-md-3 col-form-label") }}{{ form.serial_number(class_="form-control col-md-6", value=serial_number) }}
            </div>
            <div class="form-group row">
                {{ form.product_id.label(class_="col-md-3 col-form-label") }}{{ form.product_id(class_="form-control col-md-6", value=product_id) }}
            </div>
            <div class="form-group row">
                {{ form.description.label(class_="col-md-3 col-form-label") }}{{ form.description(class_="form-control col-md-6", value=description) }}
            </div>
        </form>
    </div>
    <div class="card-footer">
        {{ form.submit(class_="btn btn-sm btn-primary", form="serial_edit") }}
        {{ form.reset(type="reset", class_="btn btn-sm btn-danger", form="serial_update") }}
    </div>
</div>
{% endblock main %}
