{% extends "base_datatables_template_for_ajax.html" %}

{% block card_header %}Serials{% endblock card_header %}

{% block ajax_source %}
"/serial/data"
{% endblock ajax_source %}

{% block datatables_cloumns %}
columnDefs: [
{
"render": function(data, type, row) {
return '<div class="btn-toolbar" style="flex-wrap: nowrap;">'
    + '<div class="btn-group mr-2">'
    + '<button class="btn btn-sm btn-primary" type="button" onclick="location.href=\'interface/' + row[0] + '\'">Show</button>'
    + '</div>'
    + '<div class="btn-group mr-2">'
    + '<button class="btn btn-sm btn-primary" type="button" onclick="location.href=\'interface/' + row[0] + '/edit' + '\'">Edit</button>'
    + '</div>'
    + '<div class="btn-group mr-2">'
    + '<form action="/interface/' + row[0] + '/delete"' + ' method="post">'
    + '<button class="btn btn-sm btn-danger" type="submit" onclick="return confirm(\'Are you sure?\');">Delete</button>'
    + '</form>'
    + '</div>'
    ;
    },
    "targets": 4
    }
    ],
{% endblock datatables_cloumns %}


{% block thead %}
<tr>
    <th>ID</th>
    <th>Node</th>
    <th>Serial Number</th>
    <th>Product ID</th>
    <th>Action</th>
</tr>
{% endblock thead %}

{% block card_footer %}
<button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{ url_for('serial.new') }}'">New Serial</button>
{% endblock card_footer %}

