{% extends "base_datatables_template.html" %}

{% block card_header %}Serials{% endblock card_header %}
{% block thead %}
<tr>
    <th>ID</th>
    <th>Node</th>
    <th>Serial</th>
    <th>Product ID</th>
    <th>Action</th>
</tr>
{% endblock thead %}
{% block tbody %}
{% for serial in serials %}
<tr>
    <td>{{ serial.id }}</td>
    <td>{{ serial.hostname }}</td>
    <td>{{ serial.serial }}</td>
    <td>{{ serial.product_id }}</td>
    <td>
        <div class="btn-toolbar" style="flex-wrap: nowrap;">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-primary" type="button" onclick="location.href='serial/{{serial.id}}'">Show</button>
            </div>
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-primary" type="button" onclick="location.href='serial/{{serial.id}}/edit'">Edit</buttonl>
            </div>
            <div class="btn-group mr-2">
                <form action="{{ url_for('serial.delete', id=serial.id) }}" method="post">
                    <button class="btn btn-sm btn-danger" type="submit" onclick="return confirm('Are you sure?');">Delete</button>
                </form>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock tbody %}
{% block card_footer %}
<button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{ url_for('serial.new') }}'">New Serial</button>
{% endblock card_footer %}

