{% extends "base_template.html" %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('base.static', filename='js/DataTablesBS4.js' )}}"></script>

<script>
 $(document).ready(function(){
     $("#node_id option[value='{{node_id}}']").prop('selected', true);
 });
</script>
{% endblock javascript %}


{% block main %}
<div class="card">
    <div class="card-header">
        Edit Interface
    </div>
    <div class="card-body">
        <form action="{{ url_for('interface.update', id=id ) }}" method=post class="form-horizontal " id="interface_update">
            {{ form.csrf_token }}
            <div class="form-group row">
                {{ render_field(form.node_id, value=node) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.name, value=name) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.description, value=description) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.ip_address, value=ip_address) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.mask, value=mask) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.speed, value=speed) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.duplex, value=duplex) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.mtu, value=mtu) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.status, value=status) }}
            </div>
        </form>
    </div>
    <div class="card-footer">
        {{ form.submit(class_="btn btn-sm btn-primary", form="interface_update") }}
        {{ form.reset(type="reset", class_="btn btn-sm btn-danger", form="interface_update") }}
    </div>
</div>
{% endblock main %}
