{% extends "base_datatables_template.html" %}

{% block card_header %}Interfaces{% endblock card_header %}
{% block thead %}
<tr>
    <th>ID</th>
    <th>Node</th>
    <th>Name</th>
    <th>IP Address</th>
    <th>Description</th>
    <th>Action</th>
</tr>
{% endblock thead %}
{% block tbody %}
{% for interface in interfaces %}
<tr>
    <td>{{ interface.id }}</td>
    <td>{{ interface.hostname }}</td>
    <td>{{ interface.name }}</td>
    <td>{{ interface.ip_address }}</td>
    <td>{{ interface.description }}</td>
    <td>
        <div class="btn-toolbar" style="flex-wrap: nowrap;">
            <div class="btn-group mr-2">
                <form action="{{ url_for('interface.delete', id=interface.id) }}" method="post">
                    <button class="btn btn-sm btn-danger" type="submit" onclick="return confirm('Are you sure?');">Delete</button>
                </form>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock tbody %}
{% block card_footer %}
<button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{ url_for('interface.new') }}'">New Interface</button>
{% endblock card_footer %}
