{% extends "base_datatables_template_for_source_data.html" %}

{% block card_header %}Interfaces{% endblock card_header %}

{% block datatables_cloumns %}
columns: [
{data: "id"},
{data: "node.hostname", defaultContent: ""},
{data: "name", defaultContent: ""},
{data: "ip_address", defaultContent: ""},
{data: "description", defaultContent: ""},
{title: "Action", render: function( data, type, row, meta) {
return '<div class="btn-toolbar" style="flex-wrap: nowrap;">'
    + '<div class="btn-group mr-2">'
    + '<button class="btn btn-sm btn-primary" type="button" onclick="location.href=\'interface/' + row.id + '\'">Show</button>'
    + '</div>'
    + '<div class="btn-group mr-2">'
    + '<button class="btn btn-sm btn-primary" type="button" onclick="location.href=\'interface/' + row.id + '/edit' + '\'">Edit</button>'
    + '</div>'
    + '<div class="btn-group mr-2">'
    + '<form action="/interface/' + row.id + '/delete"' + ' method="post">'
    + '<button class="btn btn-sm btn-danger" type="submit" onclick="return confirm(\'Are you sure?\');">Delete</button>'
    + '</form>'
    + '</div>'
    ; }
    }
    ],
{% endblock datatables_cloumns %}


{% block thead %}
<tr>
    <th>ID</th>
    <th>Node</th>
    <th>Name</th>
    <th>IP Address</th>
    <th>Description</th>
    <th>Action</th>
</tr>
{% endblock thead %}

{% block card_footer %}
<button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{ url_for('interface.new') }}'">New Interface</button>
{% endblock card_footer %}
