{% extends "base_template.html" %}

{% block title %}neteye{% endblock title %}
{% block stylesheet %}
{{ super() }}
{% endblock stylesheet %}

{% block main %}
<div class="card">
    <div class="card-header">
        Interfaces
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm table-hover table-outline table-striped mb-0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Node ID</th>
                    <th>Name</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            <tbody>
                {% for interface in interfaces %}
                <tr>
                    <td>{{ interface.id }}</td>
                    <td>{{ interface.node_id }}</td>
                    <td>{{ interface.name }}</td>
                    <td>{{ interface.ip_address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#">Prev</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-primary" type="button" onclick="location.href='{{ url_for('node.new') }}'">New Node</button>
    </div>
</div>
{% endblock main %}
