{% extends "base_template.html" %}


{% block main %}
<div class="card">
    <div class="card-header">
        New Interface
    </div>
    <div class="card-body">
        <form action="{{ url_for('interface.create') }}" method=post class="form-horizontal " id="interface_create">
            {{ form.csrf_token }}
            <div class="form-group row">
                {{ render_field(form.node_id) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.name) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.description) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.ip_address) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.mask) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.mac_address) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.speed) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.duplex) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.mtu) }}
            </div>
            <div class="form-group row">
                {{ render_field(form.status) }}
            </div>
        </form>
    </div>
    <div class="card-footer">
        {{ form.submit(class_="btn btn-sm btn-primary", form="interface_create") }}
        {{ form.reset(type="reset", class_="btn btn-sm btn-danger", form="interface_create") }}
    </div>
</div>
{% endblock main %}
