{% extends "base_template.html" %}

{% block title %}neteye{% endblock title %}

{% block main %}
<div class="card">
    <div class="card-header">
        {% block card_header %}{% endblock card_header %}
    </div>
    <div class="card-body">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block card_body %}
        {% endblock card_body %}
    </div>
    <div class="card-footer">
        {% block card_footer %}{% endblock card_footer %}
    </div>
</div>
{% endblock main %}
