{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors %}

{% block styles %}
<!-- Icons-->
<link href="{{ url_for('base.static', filename='node_modules/@coreui/icons/css/coreui-icons.min.css' )}}" rel="stylesheet">
<link href="{{ url_for('base.static', filename='node_modules/flag-icon-css/css/flag-icon.min.css' )}}" rel="stylesheet">
<link href="{{ url_for('base.static', filename='node_modules/font-awesome/css/font-awesome.min.css' )}}" rel="stylesheet">
<link href="{{ url_for('base.static', filename='node_modules/simple-line-icons/css/simple-line-icons.css' )}}" rel="stylesheet">
<!-- Main styles for this application-->
<link href="{{ url_for('base.static', filename='css/style.css' )}}" rel="stylesheet">
<link href="{{ url_for('base.static', filename='vendors/pace-progress/css/pace.min.css' )}}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
<!-- CoreUI and necessary plugins-->
<script src="{{ url_for('base.static', filename='node_modules/jquery/dist/jquery.min.js' )}}"></script>
<script src="{{ url_for('base.static', filename='node_modules/popper.js/dist/umd/popper.min.js' )}}"></script>
<script src="{{ url_for('base.static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js' )}}"></script>
<script src="{{ url_for('base.static', filename='node_modules/pace-progress/pace.min.js' )}}"></script>
<script src="{{ url_for('base.static', filename='node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js' )}}"></script>
<script src="{{ url_for('base.static', filename='node_modules/@coreui/coreui/dist/js/coreui.min.js' )}}"></script>
<!-- Plugins and scripts required by this view-->
<script src="{{ url_for('base.static', filename='node_modules/chart.js/dist/Chart.min.js' )}}"></script>
<script src="{{ url_for('base.static', filename='node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js' )}}"></script>
<script src="{{ url_for('base.static', filename='js/main.js' )}}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script>
 $(document).ready(function() {
     $('#show_hide_password').on('click', function(event) {
         event.preventDefault();
         if($('#password').attr("type") == "text"){
             $('#password').attr('type', 'password');
             $('#show_hide_password i').addClass( "fa-eye-slash" );
             $('#show_hide_password i').removeClass( "fa-eye" );
         }
         else {
             $('#password').attr('type', 'text');
             $('#show_hide_password i').removeClass( "fa-eye-slash" );
             $('#show_hide_password i').addClass( "fa-eye" );
         }
     });

     $('#show_hide_enable').on('click', function(event) {
         event.preventDefault();
         if($('#enable').attr("type") == "text"){
             $('#enable').attr('type', 'password');
             $('#show_hide_enable i').addClass( "fa-eye-slash" );
             $('#show_hide_enable i').removeClass( "fa-eye" );
         }
         else {
             $('#enable').attr('type', 'text');
             $('#show_hide_enable i').removeClass( "fa-eye-slash" );
             $('#show_hide_enable i').addClass( "fa-eye" );
         }
     });
 });
</script>
{% endblock scripts %}

{% block content %}
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <h1>
                            Register
                        </h1>
                        <p class="text-muted">
                            Create your account
                        </p>
{% include "security/_messages.html" %}
                        <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
                            {{ register_user_form.hidden_tag() }}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-user">
                                        </i>
                                    </span>
                                </div>
                                {{ register_user_form.email(class="form-control", type="text", placeholder="Email") }}
                            </div>
                            <p>
                                {{ render_field_errors(register_user_form.email) }}
                            </p>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock">
                                        </i>
                                    </span>
                                </div>
                                {{ register_user_form.password(class="form-control", placeholder="Password") }}
                                <button id="show_hide_password" class="btn btn-light btn-sm" type="button"><i class="fa fa-eye-slash" aria-hidden="true"></i></buttlon>
                            </div>
                            <p>                                    {{ render_field_errors(register_user_form.password) }}
                            </p>
                            {% if register_user_form.password_confirm %}
                                    <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock">
                                            </i>
                                        </span>
                                    </div>
                                    {{ register_user_form.password_confirm(class="form-control", placeholder="Repeat Password") }}
                                    <button id="show_hide_password" class="btn btn-light btn-sm" type="button"><i class="fa fa-eye-slash" aria-hidden="true"></i></buttlon>
                                </div>
                                <p>                                    {{ render_field_errors(register_user_form.password_confirm) }}
                                    </p>
                            {% endif %}
                            {{ render_field(register_user_form.submit, class="btn btn-primary") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    {% endblock %}
